<ion-view view-title="购物袋">
	<ion-content ng-controller="bagCtrl" data-ng-init="getbagdata()">
		<ion-refresher on-refresh="getbagdata()">
		</ion-refresher>
		<div id="bagpl_wrap">
			<div class="pd txt-c fr_gray fz_4 hide" ng-class="{block:!models.commonpro.length&&!models.weightpro.length}">暂无数据</div>
			<div class="drawerbox_outer openout hide" ng-class="{block:models.commonpro.length}">
				<div class="dbout_header c">
					<span class="fl dboh_title">普通商品</span>
				</div>

				<ion-list can-swipe="true">
					<ion-item ng-repeat="pro in models.commonpro" class="item-thumbnail-left item-checkbox">

						<img ng-src="{{pro.product_pic}}"><label class="checkbox">
       <input type="checkbox">
     </label>
						<h2>{{pro.product_name}}</h2>
						<p class="pl_sale_tip">
										<span ng-if="transtags(pro.tags*1,0)">称重</span>
										<span ng-if="transtags(pro.tags*1,1)">APP专享价</span>
										<span ng-if="transtags(pro.tags*1,2)">满减</span>
										<span ng-if="transtags(pro.tags*1,3)">不支持区享卡</span>
										<span ng-if="transtags(pro.tags*1,4)">特价</span>
										<span ng-if="transtags(pro.tags*1,5)">预售</span>
										<span ng-if="transtags(pro.tags*1,6)">无货</span>
									</p>
						<ion-delete-button class="ion-minus-circled">删除</ion-delete-button>
					</ion-item>
				</ion-list>

				<div class="dbout_cnt">
					<ul class="bagplst">
						<li class="c rc_list rcl_left" ng-repeat="pro in models.commonpro">
							<checkbox selected="pro.selected"></checkbox>
							<div class="fr bplst_close" ng-click="del_pro(pro,'common')"><i class="qx qx-roundclose"></i>
							</div>
							<div class="bplst_cnt">
								<div class="pl_promain c">
									<a class="pl_proimg" ng-style="{'background-image':'url({{pro.thumbnail||pro.product_pic}})'}">
										<img data-src="{{pro.product_pic}}" class="hide" alt="" />
									</a>
									<p class="pl_proname" ng-bind="pro.product_name"></p>
									<p class="pl_sale_tip">
										<span ng-if="transtags(pro.tags*1,0)">称重</span>
										<span ng-if="transtags(pro.tags*1,1)">APP专享价</span>
										<span ng-if="transtags(pro.tags*1,2)">满减</span>
										<span ng-if="transtags(pro.tags*1,3)">不支持区享卡</span>
										<span ng-if="transtags(pro.tags*1,4)">特价</span>
										<span ng-if="transtags(pro.tags*1,5)">预售</span>
										<span ng-if="transtags(pro.tags*1,6)">无货</span>
									</p>
								</div>
								<div class="pl_proprice c">
									<div class="fl pro_price"><span class="fc_r" ng-bind="pro.product_price|currency:'￥'"></span>/{{pro.product_unit}}</div>
									<div class="pro_act fr">
										<button class="del" ng-class="{disabled:pro.product_amount*1==0}" ng-disabled="pro.product_amount*1==0" ng-class="{disabled:pro.pronum*1==0}" ng-disabled="pro.pronum*1==0" ng-click="removeFcart(pro)">
											<i class="qx qx-del"></i>
										</button>
										<span class="number" ng-class="{disabled:pro.product_amount*1==0}" ng-bind="pro.product_amount"></span>
										<button class="add" ng-click="addTocart(pro)">
											<i class="qx qx-add"></i>
										</button>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>

			<div class="drawerbox_outer openout hide" ng-class="{block:models.weightpro.length}" ng-if="models.weightpro.length">
				<div class="dbout_header c">
					<span class="fl dboh_title">称重商品</span>
					<b onclick="weighinfo()" class="qx qx-warn"></b>
				</div>
				<div class="dbout_cnt">
					<ul class="bagplst">
						<li class="c rc_list rcl_left" ng-repeat="pro in models.weightpro">
							<!-- 选择框checkbox,needw<3时为需称重和待称重，禁用 -->
							<checkbox selected="pro.selected" disvalue="{{pro.status!=3}}"></checkbox>
							<div class="fr bplst_close" ng-click="del_pro(pro,'weight')"><i class="qx qx-roundclose"></i>
							</div>
							<div class="bplst_cnt">
								<div class="pl_promain c">
									<a class="pl_proimg" ng-style="{'background-image':'url('+(pro.thumbnail||pro.product_pic)+')'}">
										<img ng-src="{{pro.product_pic}}" class="hide" alt="" />
									</a>
									<p class="pl_proname" ng-bind="pro.product_name"></p>
									<p class="pl_sale_tip">
										<span ng-if="transtags(pro.tags*1,0)">称重</span>
										<span ng-if="transtags(pro.tags*1,1)">APP专享价</span>
										<span ng-if="transtags(pro.tags*1,2)">满减</span>
										<span ng-if="transtags(pro.tags*1,3)">不支持区享卡</span>
										<span ng-if="transtags(pro.tags*1,4)">特价</span>
										<span ng-if="transtags(pro.tags*1,5)">预售</span>
										<span ng-if="transtags(pro.tags*1,6)">无货</span>
									</p>
								</div>
								<div class="pl_proprice c">
									<div class="fl pro_price">
										<span class="fc_r" ng-bind="pro.product_price|currency:'￥'"></span>/{{pro.product_unit}}</div>
									<div class="pro_act fr" ng-if="pro.status==1">
										<button ng-click="toWeight(pro)" class="btn btn_msg_r fr">马上订购</button>
									</div>
									<span class="btn fr fc_r" ng-if="pro.status==2">称重中</span>
									<span ng-if="pro.status==3" class="fc_r fr price_count">

										约{{pro.product_amount}}{{pro.product_unit}} {{pro.product_amount*1*pro.product_price|currency:'￥'}}</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</ion-content>
	<ion-footer-bar class="row-no-padding bar-subfooter">
		<div id="index_cart_wrap" class="cart c" ng-class="{havepro:models.cart_count}">
			<div id="cart_act" class="c rc_list">
				<div class="rc_wrap fl">
					<i class="qx qx-roundcheckfill" ng-if="checkall"></i>
					<i class="qx qx-roundcheck" ng-if="!checkall"></i>
					<input type="button" ng-click="selectall()" />
				</div>
				<div class="cart_price fl pw">商品总额：<span ng-bind="models.price_count|currency:'￥'"></span>
				</div>
				<button class="fr cart_subgo" ng-disabled="!models.cart_count" ng-click="toSuborder()">结算</button>
			</div>
		</div>
	</ion-footer-bar>
</ion-view>