<ion-view view-title="购物袋">
	<ion-content class="has-subfooter">
		<div id="bagpl_wrap">
			<div class="pd txt-c fr_gray fz_4" ng-hide="models.prolist.length">暂无数据</div>
			<div class="drawerbox_outer openout">
				<div class="dbout_cnt">
					<ion-list class='bagplst'>
						<ion-item ng-repeat="pro in models.prolist">
							<div class="c rcl_left">
								<checkbox selected="pro.selected"></checkbox>
								<div class="bplst_cnt">
									<div class="pl_promain c">
										<a class="pl_proimg" ng-style="{'background-image':'url({{(pro.thumbnail||pro.product_pic)||('img/erro.png')}})'}">
											<img data-src="{{pro.product_pic}}" class="hide" alt="" />
										</a>
										<div class="pl_proname" ng-bind="pro.product_name"></div>
									</div>
									<div class="pl_proprice c">
										<div class="fl pro_price"><span class="fc_r" ng-bind="pro.product_price|currency:'￥'"></span>/{{pro.product_unit}}</div>
										<div class="pro_act fr">
											<button class="del" ng-class="{disabled:pro.product_amount*1==0}" ng-disabled="pro.product_amount*1==0" ng-class="{disabled:pro.pronum*1==0}" ng-disabled="pro.pronum*1==0" ng-click="removeFcart(pro)">
												<i class="qx qx-del"></i>
											</button>
											<span class="number" ng-class="{disabled:!pro.amount}" ng-bind="pro.amount"></span>
											<button class="add" ng-click="addTocart(pro)">
												<i class="qx qx-add"></i>
											</button>
										</div>
									</div>
								</div>
							</div>
							<ion-option-button class=" button-assertive" ng-click="models.prolist.$remove(pro)">删除</ion-delete-button>
						</ion-item>
					</ion-list>
				</div>
			</div>
		</div>
	</ion-content>
</ion-view>
<div class="row-no-padding bar-subfooter bar bar-footer has-tabs">
	<div id="index_cart_wrap" class="cart c" ng-class="{havepro:models.cart_count}">
		<div id="cart_act" class="c rc_list">
			<div class="rc_wrap fl">
				<i class="qx qx-roundcheckfill" ng-if="models.checkall"></i>
				<i class="qx qx-roundcheck" ng-if="!models.checkall"></i>
				<input type="button" ng-click="selectall()" />
			</div>
			<div class="cart_price fl pw">商品总额：<span ng-bind="models.price_count|currency:'￥'"></span>
			</div>
			<button class="fr cart_subgo" ng-disabled="!models.cart_count" ng-click="toSuborder()">结算</button>
		</div>
	</div>
</div>