<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>通用组件</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection"content="telephone=no, email=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/qxv3.css"/>
		<style type="text/css">
			#m dl{padding: 1em 1em 0;line-height: 2;}
			#m dd{padding-top: .5em;}
		</style>
	</head>
	<body class="navbtm">
		<div id="m">
			<dl>
			<dt><a href="saleplugins/index.html" class="btn btn_r">销售助手</a></dt>
			<dd><span class="btn btn_mg btn_msg_r">提示按钮红色</span></dd>
			<dd><span class="btn btn_mg btn_msg_gr">提示按钮绿色</span></p></dd>
			<dd><span class="btn btn_mg btn_msg_o">提示按钮橙色</span></p></dd>
		</dl>
		<dl>
			<dt>提示按钮</dt>
			<dd><span class="btn btn_mg btn_msg_r">提示按钮红色</span></dd>
			<dd><span class="btn btn_mg btn_msg_gr">提示按钮绿色</span></p></dd>
			<dd><span class="btn btn_mg btn_msg_o">提示按钮橙色</span></p></dd>
		</dl>
		<dl style="background: #fff;">
			<dt>纯色背景按钮</dt>
			<dd><span class="btn btn_r btn_big">红色背景按钮</span>
			</dd>
			<dd><span class="btn btn_o">橙色色背景按钮</span>
			</dd>
			<dd><span class="btn btn_dis">灰色背景禁用按钮</span></dd>
			<dd><span class="btn btn_g">灰色背景按钮</span></dd>
			<dd></dd>
		</dl>

		<dl>
			<dt>带边框按钮</dt>
			<dd><span class="btn btn_bd btn_bd_r">红色</span></dd>
			<dd><span class="btn btn_bd btn_bd_o">绿色</span></p></dd>
			<dd><span class="btn btn_bd btn_bd_primary">普通按钮</span></p></dd>
		</dl>
		<dl>
			<dt>字体大小</dt>
			<dd class="fs_1">字体1</dd>
			<dd class="fs_2">字体2</dd>
			<dd class="fs_3">字体3</dd>
			<dd class="fs_4">字体4</dd>
			<dd class="fs_5">字体5</dd>
		</dl>
		<dl>
			<dt>字体颜色</dt>
			<dd class="fc_r">字体1</dd>
			<dd class="fc_gr">字体2</dd>
			<dd class="fc_gray">字体3</dd>
			<dd class="fc_o">字体4</dd>
		</dl>

<div class="tab c tab-c5">
	<a href="" class="cur"><span>全部<i>6</i></span></a>
	<a href=""><span>待支付<i>99</i></span></a>
	<a href=""><span>未到货</span></a>
	<a href=""><span>待收货<i>5</i></span></a>
	<a href=""><span>已完成</span></a>
</div>

<div class="tab c">
	<a href="" class="cur"><span>登录</span></a>
	<a href=""><span>注册</span></a>
</div>
<br>
<div id="header" class="c"><a href="" class="header_back fl"><i class="qx qx-back"></i>带标题的返回</a>
	<span class="header_title fl">标题</span>
	<a href="" class="fr header_right fc_r">忘记密码？</a>
</div>
</div>
<!--
<div id="nav" class="c">
	<a href=""><i class="qx qx-index "></i><i class="qx nav-fill qx-indexfill "></i><span>首页</span></a>
	<a href=""><i class="qx qx-survice "></i><i class="qx nav-fill qx-survicefill "></i><span>服务</span></a>
	<a href=""><i class="qx qx-bag "></i><i class="qx nav-fill qx-bagfill "></i><span>购物袋</span></a>
	<a href=""><i class="qx qx-order "></i><i class="qx nav-fill qx-orderfill "></i><span>订单</span></a>
	<a href="" class="cur"><i class="qx qx-user "></i><i class="qx nav-fill qx-userfill "></i><span>我的</span></a>
</div> -->
	</body>
</html>
