<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>找回密码</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/qxv3.css" />
	</head>

	<body>
		<div id="header">
			<a href="" class="header_back"><i class="qx qx-back"></i></a>
			<span class="header_title">找回密码</span>
		</div>

		<div id="text_form">
			<div class="pd txt_center tab fs_2"><span class="fc_r">短信验证</span> <i class="qx qx-right mw"></i> <span>设置新密码</span></div>
			<ul class="tab_cnt">
				<li><i class="qx qx-phone"></i>
					<input type="tel" placeholder="手机号码" />
				</li>
				<li class="prbtn"><i class="qx qx-password"></i>
					<input type="text" placeholder="请输入短信的的验证码" />
					<a href="" class="btn btn_o btn_big">发送验证码</a>
				</li>
				<li><a href="find_pwd2.html" class="btn btn_r block  btn_big">验 证</a>
				</li>
			</ul>
			<p class="pd"><a href="" class="fc_r">收不到短信验证码？</a></p>
		</div>

	</body>

</html>