<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
		<title>找回密码</title>
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no, email=no">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/qxv3.css" />
	</head>

	<body>
		<div id="header">
			<a href="" class="header_back"><i class="qx qx-back"></i></a>
			<span class="header_title">找回密码</span>
		</div>

		<div id="text_form">
			<div class="pd txt_center tab fs_2"><span>短信验证</span> <i class="qx qx-right mw"></i> <span class="fc_r">设置新密码</span></div>
			<ul class="tab_cnt">
				<li><i class="qx qx-phone"></i>
					<input type="password" placeholder="新密码" />
				</li>
				<li><i class="qx qx-password"></i>
					<input type="password" placeholder="确认新密码" />
				</li>
				<li><a href="index.html" class="btn btn_r block  btn_big">确认提交</a>
				</li>
			</ul>
		</div>

	</body>

</html>