<ion-view view-title="{{models.formsg}}">
		<div class="tab">
			<a ng-click="models.formtype='1'" ng-class="{cur:models.formtype==1}">登录</a><a ng-click="models.formtype='2'" ng-class="{cur:models.formtype==2}">注册</a>
		</div>
		<div class="text_form">
			<!-- 手机号登录 -->
			<div class="tab_cnt" ng-show="models.formtype==1">
				<form ng-submit="login()" name="loginform">
					<ul>
						<li><i class="qx qx-phone"></i>
							<input type="text" ng-model="models.name" name="name" autofocus="autofocus" required="required" placeholder="用户名/手机号/邮箱" />
						</li>
						<li><i class="qx qx-password"></i>
							<input type="password" ng-model="models.pwd" name="pwd" required="required" placeholder="用户密码" />
						</li>
						<li class="c">
							<button type="submit" style="width: 100%;" ng-class="{btn_dis:!loginform.$valid}" class="fr btn btn_r block btn_big">登　录</button>
						</li>
					</ul>
				</form>
			</div>

			<div class="tab_cnt" id="login_phone" ng-show="models.formtype==2">
				<form ng-submit="register()" name="regform">
					<ul>
						<li><i class="qx qx-phone"></i>
							<input type="tel" ng-model="models.regtel" name="regtel" required="required" placeholder="用户名/手机号/邮箱" />
						</li>
						<li class="prbtn"><i class="qx qx-password"></i>
							<input type="text" ng-model='models.regcode' required placeholder="请输入短信验证码" />
							<a ng-click="getcode()" ng-class="{btn_dis:!regform.regtel.$valid}" class="btn btn_o btn_big">发送验证码</a>
						</li>
						<li><button type="submit" style="width: 100%;" ng-class="{btn_dis:!regform.$valid}" class="btn btn_r block  btn_big">注册</button>
						</li>
					</ul>
				</form>
			</div>
		</div>
		<div class="fc_gray pw">温馨提示：如果您使用未注册的手机号登录将代表您已经同意了 <a ng-class="xydetail()" style="text-decoration: underline;" class="fc_r">《区享用户协议》</a>
		</div>
		<fieldset id="other_login_list" class="">
			<div id="olist_title">使用第三方账号登录</div>
			<div id="olist_cnt">
				<ul>
					<li><a href=""><i class="qx qx-roundwx icon-wx"></i><span>微信账号</span></a>
					</li>
					<li><a href=""><i class="qx qx-roundqq icon-qq"></i><span>QQ账号</span></a>
					</li>
					<li><a href=""><i class="qx qx-roundwb icon-wb"></i><span>微博账号</span></a>
					</li>
					<li><a href=""><i class="qx qx-roundaplipay icon-alipay"></i><span>支付宝账号</span></a>
					</li>
				</ul>
			</div>
		</fieldset>
</ion-view>