<ion-view view-title="首页">
	<ion-nav-buttons side="left">
		<b class="btn no-padding-w"><i class="qx qx-location fs_4"></i>{{area_name}}</b>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<a href="#/tab/search" class="btn pw btn_r">
			<i class="icon qx-search"></i></a>
	</ion-nav-buttons>
	<!-- 新闻列表 -->
	<div id="top_msglist" class="has-header" ng-class="{msg_smore:openmsg}">
		<div id="msg_overlay" ng-click="msg_smore=!msg_smore"></div>
		<div id="msg_list">
			<dl><i class="qx fr qx-unfold" ng-click="tad()"></i>
				<dt ng-if="!openmsg"><span ng-repeat="ad in ad">{{ad.ad_name}}，</span>
					</dt>
				<dd ng-repeat="ad in ad">
					<a ng-href="{{ad.ad_url}}" target="_blank" ng-click="open(ad.ad_url)" ng-bind="ad.ad_name"></a>
				</dd>
			</dl>
		</div>
	</div>
	<div id="main_cnt_wrap" class="has-subheader">
		<!-- 主商品列表 -->
		<ion-scroll id="pl_nav">
			<div>
				<ul>
					<!-- 类别导航列表 -->
					<li ng-repeat="nav in navlist" id="nav{{nav.$id}}" ng-click="togglenav(nav.$id)" ng-class="{cur:nav.$id==navcur_id}" ng-bind='nav.service_name'>
					</li>
				</ul>
			</div>
		</ion-scroll>
		<ion-scroll id="pl_content" class="">
			<div id="prolist_wrap">
				<!-- 首页商品列表 -->
				<prolist plst="pl" cartlist="baglist"></prolist>
			</div>
		</ion-scroll>
	</div>
	</div>
	<!-- 商品详情 -->
	<script id="proinfo.html" type="text/ng-template">
		<div class="modal">
			<ion-header-bar class="bar-assertive">
				<div class="buttons buttons-left">
					<span class="left-buttons">
						<b class="btn no-padding-w ng-binding"><i class="qx qx-close fs_4"></i></b>
					</span>
				</div>
				<h1 class="title">{{product_name}}</h1>
			</ion-header-bar>
			<ion-content>
				{{picture}}
			</ion-content>
		</div>
	</script>
</ion-view>
<ion-footer-bar class="row-no-padding bar-subfooter" style="height: auto;">
	<cartprolist needel="true" cartpcount="{{models.cart_count}}" cartpnum="{{models.cart_propronum}}" plist="baglist"></cartprolist>
	<!-- 购物车遮罩 -->
</ion-footer-bar>