<ion-view view-title="搜索" hide-nav-bar="true">
	<form ng-submit="searchByword()">
		<div class="bar bar-stable bar-header item-input-inset row-no-padding ">
			<a href="#/tab/main" class="btn_r pw"><i class="icon qx-back fs_3 pr"></i></a>
			<label class="item-input-wrapper mr row-no-padding">
				<input type="search" ng-model="keyword" placeholder="请输入关键词">
				<button class="btn btn_o"><i class="icon qx-search fc_f fs_3"></i></button>
			</label>
		</div>
	</form>
	<ion-content	 class="has-header">
	<div class="pd bg_gray hide">
		<form ng-submit="searchByword()">
			<div id="search_form">
				<input type="search" placeholder="请输入关键词" />
				<button type="submit" class="btn btn_o">
					<i class="qx qx-search"></i>
				</button>
			</div>
		</form>
	</div>

	<div id="seach_listwrap">
		<!-- loading -->
		<div class="pd txt-c" ng-show="isloading">
			<img src="images/loading.gif" alt="" />
		</div>
		<dl id="hotwords" class="hide" ng-class="{'block':hotwords&&!prolist.length&&!isloading}">
			<dt>热门搜索</dt>
			<dd ng-repeat='word in hotwords' ng-click="searchByword(word.key_word)"><span ng-bind="word.key_word"></span>
			</dd>
		</dl>
		<div id="prolist_wrap">
			<prolist plst="prolist"></prolist>
		</div>
	</div>
	</ion-content>
</ion-view>