<ion-view view-title="区享服务">
	<ion-content>
		<div class="icon_navlist" id="service_nav">
			<ul>
				<li ng-repeat="s in service">
					<a ng-href="#/tab/shangmen" ng-if="$index==0">
						<dl>
							<dt class="nav_icon mr"><img ng-src="{{s.service_img}}" /></dt>
							<dd class="nav_name" ng-bind="s.service_name"></dd>
							<dd class="nav_des" ng-bind="s.service_dec"></dd>
						</dl>
					</a>
					<a  ng-if="$index!=0" ng-href="{{s.service_url}}" target="_blank">
						<dl>
							<dt class="nav_icon mr"><img ng-src="{{s.service_img}}" /></dt>
							<dd class="nav_name" ng-bind="s.service_name"></dd>
							<dd class="nav_des" ng-bind="s.service_dec"></dd>
						</dl>
					</a>
				</li>
				<li>
					<dl>
							<dd class="nav_name" ng-click="shares()">分享</dd>
						</dl>
					</li>
			</ul>
		</div>
	</ion-content>
</ion-view>