<ion-view view-title="区享上门">
	<ion-content>
		<div class="pd mh txt-c fc_gray hide" ng-class="{block:!dlist.length}"><i class="qx qx-roundclose fs_6"></i>
			<br/>暂无订单</div>
		<ul class="" ng-class="{block:loadok}">
			<li ng-repeat="d in dlist" class="mb bg_f">
				<div class="bg_f ph">
					<div class="txt-c">
						<span class="ph fs_2"><i class="qx qx-my fc_o fs_6"></i>配送人</span>
						<span class="usericon"><span><img alt="{{d.distri_worker_name}}" ng-src="{{d.distri_worker_img}}"></span></span>
						<a class="ph fs_3" ng-if="d.distri_worker_phone" href="tel:{{d.distri_worker_phone}}"><i class="qx qx-telephone fs_7 fc_gr"></i>呼叫</a>
						<a class="pw fs_3"><i class="qx qx-survice fc_o fs_7"></i>{{d.distri_worker_praise}}</a>
					</div>
				</div>

				<boxinner needtoggle='1' boxtitle="{{sub.create_time}}" class="bg_f" ng-repeat="sub in d.subList">
					<ul class="bdt_list">
						<li class="c fs_2" ng-repeat="p in sub.subList"><span class="fl">{{p.product_name}}</span><span class="fr fc_gray fs_1 ml">{{p.product_price|currency:'￥'}}*{{p.product_amount}}</span>
						</li>
					</ul>
				</boxinner>

				<div class="orderlist hide" ng-repeat="sub in d.subList">
					<div class="order_title"><span class="odt_name"><i class="qx qx-time"></i>{{sub.create_time}}</span>
					</div>
					<div class="order_cnt bg_gray">
						<ul class="bdt_list">
							<li class="c pw" ng-repeat="p in sub.subList"><span class="fl">{{p.product_name}}</span><span class="fr fc_gray fs_1 ml">{{p.product_price|currency:'￥'}}*{{p.product_amount}}</span>
							</li>
						</ul>
					</div>
				</div>

			</li>
		</ul>
	</ion-content>
</ion-view>