<ion-tabs class="tabs-icon-top tabs-color-active-positive">
	<ion-tab title="首页" icon-off="qx-index" icon-on="qx-indexfill" href="#/tab/main">
		<ion-nav-view name="tab-main"></ion-nav-view>
	</ion-tab>
	<ion-tab title="服务" icon-off="qx-survice" icon-on="qx-survicefill" href="#/tab/service">
		<ion-nav-view name="tab-service"></ion-nav-view>
	</ion-tab>
	<ion-tab title="购物袋" icon-off="qx-bag" icon-on="qx-bagfill" href="#/tab/bag">
		<ion-nav-view name="tab-bag"></ion-nav-view>
	</ion-tab>
	<ion-tab title="订单" icon-off="qx-order" icon-on="qx-orderfill" href="#/tab/orderlist">
		<ion-nav-view name="tab-orderlist"></ion-nav-view>
	</ion-tab>
	<ion-tab title="我的" icon-off="qx-user" icon-on="qx-userfill" href="#/tab/account">
		<ion-nav-view name="tab-account"></ion-nav-view>
	</ion-tab>
</ion-tabs>