<ion-view view-title="我的订单" data-ng-init="getorderlist()">
	<ion-content>
	<ion-refresher on-refresh="getorderlist()">
	</ion-refresher>
		<div class="tab c tab-c5" ng-init="tab=1">
			<a ng-click="tabclick(1)" ng-class="{cur:curtab(1)}"><span>全部</span></a>
			<a ng-click="tabclick(2)" ng-class="{cur:curtab(2)}"><span>待支付<i ng-if="ordercount.toPay_count!='0'" ng-bind="ordercount.toPay_count"></i></span></a>
			<a ng-click="tabclick(3)" ng-class="{cur:curtab(3)}"><span>未到货<i ng-if="ordercount.notArrived_count!='0'" ng-bind="ordercount.notArrived_count"></i></span></a>
			<a ng-click="tabclick(4)" ng-class="{cur:curtab(4)}"><span>待收货<i ng-if="ordercount.delivered_count!='0'" ng-bind="ordercount.delivered_count"></i></span></a>
			<a ng-click="tabclick(5)" ng-class="{cur:curtab(5)}"><span>已完成</span></a>
		</div>
		<div class="ol_wrap">
			<orderinfo ng-repeat="order in orderlist" order="order"></orderinfo>
			<div class="pd mh txt-c fc_gray hide" ng-class="{block:!orderlist.length}"><i class="qx qx-roundclose fs_6"></i>
				<br/>暂无订单</div>
		</div>
	</ion-content>
</ion-view>