<div id="index_cart_wrap" class="cart" ng-class="{havepro:cart_propronum}">
	<div id="cart_content">
		<div id="proinfo_shide" ng-show="is_cart_showdetail">
			<div id="cart_nothing" ng-hide="plist.length">购物车是空的</div>
			<!-- 购物车列表 -->
			<div class="cart_pl_wrap c transition" ng-show="plist.length" on-swipe-left="prosL()" on-swipe-right="prosR()">
				<span class="arrow fl" ng-click="prosL()" ng-if="protypesize>4"><i class="qx qx-back"></i></span>
				<span class="arrow fr" ng-click="prosR()" ng-if="protypesize>4"><i class="qx qx-right"></i></span>
				<div class="cartpl_scroll" ng-style="{height:lih+22+'px'}">
					<ul ng-style="{width:(lih*protypesize)+'px','-webkit-transform':'translateX('+(lih*scrollStep)+'px)',transform:'translateX('+(lih*scrollStep)+'px)'}">
						<li ng-repeat="pro in plist" ng-style="{width:lih+'px'}">
							<dl>
								<dt ng-style="{'background-image':'url('+(pro.thumbnail||pro.product_pic)+')'}">
						<img ng-src="{{pro.thumbnail||pro.product_pic}}" class="hide"></dt>
								<dd><span>￥{{pro.product_price|number}} *</span><b>{{pro.amount|number}}</b>
								</dd>
								<dd ng-show="needel" class="close" ng-click="plist.$remove(pro)"><i class="qx qx-close"></i>
								</dd>
							</dl>
						</li>
					</ul>
				</div>
			</div>
			<!-- 滚动条 -->
			<div class="cart_scrollbar" ng-show="protypesize>4"><span ng-style="{width:(4/protypesize*4*sbwidth)+'px','-webkit-transform':'translateX('+((-scrollStep/protypesize*4)*sbwidth)+'px)',transform:'translateX('+((-scrollStep/protypesize*4)*sbwidth)+'px)'}"></span>
			</div>
		</div>
		<!-- 信息，操作 -->
		<div id="cart_act" class="c">
			<div class="icon-cart fl" ng-class="{cart_show:is_cart_showdetail}" ng-click="is_cart_showdetail=!is_cart_showdetail">
				<i class="qx qx-cart" id="indexcart" ng-show="!is_cart_showdetail"></i>
				<i class="qx qx-close" ng-show="is_cart_showdetail"></i>
				<span class="num" ng-show="cart_propronum" ng-bind="cart_propronum"></span>
			</div>
			<div class="cart_price fl" ng-show="cart_propronum">共计<span>￥{{cart_count|number:1}}</span>
			</div>
			<button class="fr cart_subgo" ng-click="gosubpro()" ng-disabled="!cart_propronum">结算</button>
		</div>
	</div>
</div>