<ul>
	<li ng-repeat="pro in prolist">
		<div class="pl_promain c">
			<a ng-click="proinfo(pro)" class="pl_proimg" ng-style="{'background-image':'url('+(pro.thumbnail||pro.product_pic)+')'}">
				<img data-src="{{pro.thumbnail}}" class="hide" alt="{{pro.product_name}}" />
			</a>
			<p class="pl_proname" ng-bind="pro.product_name"></p>
		</div>

		<div class="pl_proprice c">
			<!-- 普通商品 -->
			<div class="fl pro_proprice"><span class="fc_r">￥{{pro.product_price}}</span>/{{pro.product_unit}}</div>
			
			<div class="pro_act fr" ng-if="pro.cart">
				<button class="del" ng-click="removeFcart(pro,cartlist)">
					<i class="qx qx-del"></i>
				</button>
				<span class="pronumber" ng-class="{fc_gray:pro.amount*1==0}" ng-bind="pro.cart.amount">
				</span>
				<button class="add" ng-class="{disabled:(pro.cart.amount>=pro.product_amount)}" ng-click="updatecart(pro.cart,cartlist,pro,$event)">
					<i class="qx qx-add"></i>
				</button>
			</div>
			
			
			<div class="pro_act fr" ng-if="!pro.cart">
				<button class="add" ng-click="addTocart(pro,$event)">
					<i class="qx qx-add"></i>
				</button>
			</div>
			
		</div>
	</li>
</ul>
